<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Crystal Aggregator</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

<main>
    <div class="container">
        <div class="card-panel red lighten-1">
            <span class="white-text" th:text="'Error: ' + ${#response.getStatus()}">Error: </span>
        </div>
    </div>
</main>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../static/js/materialize.js" th:src="@{/js/materialize.js}"></script>
<script src="../static/js/init.js" th:src="@{/js/init.js}"></script>

</body>
</html>
