<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Crystal Aggregator</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../static/js/materialize.js" th:src="@{/js/materialize.js}"></script>
    <script src="../static/js/init.js" th:src="@{/js/init.js}"></script>

</head>

<body>

<div th:insert="~{elements :: topbar}"></div>

<main>
        <div class="container">

            <br>

            <div class="card-panel light-blue lighten-1">
                <span class="white-text">This is a Crystal Chemistry database aggregator and analyser. Please input your
                terms down below and check the dropdown box to specify what databases you wish to query. Any blank fields
                won't be searched on. Use the "Quantifier" dropdown to specify how you want that field to be searched.</span>
            </div>


            <!--/*@thymesVar id="searchmodel" type="com.github.decyg.CrAgg.spring.models.SearchModel"*/-->
            <!--/*@thymesVar id="resultList" type="com.github.decyg.CrAgg.spring.models.SearchResultModel"*/-->
            <form id="massInput" action="#" th:action="@{/results}" th:object="${resultList}" method="post">

                <div class="row">
                    <div class="input-field col s12">
                        <select multiple required th:field="*{dbList}">
                            <option value="" disabled selected>Choose one or more database(s) to search on</option>
                            <option th:each="db, it : ${searchmodel.dbOptions}" th:value="${db.getSimpleName()}" th:text="${db.getSimpleName()}"></option>
                        </select>
                        <label>Database Selector</label>
                    </div>
                </div>

                <ul class="collapsible" data-collapsible="accordion">


                    <li th:each="category, it : ${searchmodel.queryTerms}">
                        <div class="collapsible-header white-text" th:classappend="|${it.count == 1 ? 'active' : ''} ${it.even ? 'green lighten-1' : ' light-blue lighten-1'}|" th:text="${it.current.prettyName}">Category Header</div>
                        <div class="collapsible-body grey lighten-4">


                            <br>

                            <div class="row" th:each="query, innerit : ${it.current.catItems}">
                                <div th:each="i : ${#numbers.sequence(0, 1)}" th:with="indexadd=${!innerit.last ? i : 0}">
                                    <div th:if="${innerit.odd && !(innerit.last && i == 1)}"  th:with="curquery=${it.current.catItems[innerit.index + indexadd]}" >

                                        <div th:if="${curquery.fieldType == curquery.fieldType.TEXT || curquery.fieldType == curquery.fieldType.NUMERICAL}">

                                            <div class="input-field col s3" th:classappend="${innerit.odd && i == 0} ? 'offset-s1'">
                                                <input th:field="*{termMap[__${curquery}__]}" placeholder="Placeholder" id="placeholder_id" th:id="${curquery.ordinal()}" type="text" th:type="${curquery.fieldType == curquery.fieldType.TEXT ? 'text' : 'number'}" class="validate" th:placeholder="'e.g. ' + ${curquery.example}">
                                                <label for="placeholder_id" th:for="${curquery.ordinal()}" th:text="${curquery.prettyName}">Placeholder Entry</label>
                                            </div>

                                            <div class="input-field col s2">
                                                <select th:field="*{quantifierMap[__${curquery}__]}">
                                                    <option th:each="allowablequery, itq : ${curquery.fieldType.allowedQuantifiers}" th:value="${allowablequery}" th:text="${allowablequery.name()}">Placeholder option</option>
                                                </select>
                                                <label>Quantifier</label>
                                            </div>

                                        </div>

                                        <div th:if="${curquery.fieldType == curquery.fieldType.MULTI_MANY_CHOICE || curquery.fieldType == curquery.fieldType.MULTI_SINGLE_CHOICE}">

                                            <div class="input-field col s5" th:classappend="${innerit.odd && i == 0} ? 'offset-s1'">
                                                <select th:field="*{termMap[__${curquery}__]}" th:multiple="${curquery.fieldType == curquery.fieldType.MULTI_MANY_CHOICE}">
                                                    <option value="" disabled selected>Choose your option</option>
                                                    <option th:each="choice, iter : ${curquery.fieldType.presetChoices}" th:value="${choice.key}" th:text="${choice.value}">Placeholder option</option>
                                                </select>
                                                <label th:text="${curquery.prettyName}">Placeholder Label</label>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>

            <div class="row">

                <div class="input-field col s6 left-align">
                    <a class="waves-effect waves-light btn">Clear</a>
                </div>

                <div class="input-field col s6 right-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action" form="massInput">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </div>



        </div>


</main>


<div th:insert="~{elements :: bottombar}"></div>


</body>
</html>
