<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Crystal Aggregator</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
</head>

<body>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../static/js/materialize.js" th:src="@{/js/materialize.js}"></script>
<script src="../static/js/init.js" th:src="@{/js/init.js}"></script>

<div th:insert="~{elements :: topbar}"></div>

<!--/*@thymesVar id="constants" type="com.github.decyg.CrAgg.utils.GeneralConstants"*/-->
<!--/*@thymesVar id="totalMaxResults" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="starredModel" type="com.github.decyg.CrAgg.spring.models.BriefResultsModel"*/-->
<main>
    <div class="container">

        <br>

        <div class="card-panel light-blue lighten-1">
            <span class="white-text" th:text="'You have starred ' + ${totalMaxResults} + ' entries.'">Text here.</span>
            <br>
            <span class="white-text">
                This is a list of all the items you have starred, these items are kept in "scope"
                for use in the analyser page, here you can see more details or remove starred results
            </span>

        </div>

        <div th:if="${totalMaxResults > 0}">

            <div class="row">
                <ul class="collection z-depth-4">
                    <li th:each="item, iter : ${starredModel.briefResults}" class="collection-item"
                        th:classappend="${iter.odd} ? 'grey lighten-3' : 'grey lighten-5'">

                        <div th:replace="elements :: briefresult(${item}, ${starredModel})"></div>

                    </li>

                </ul>
            </div>

        </div>

    </div>


</main>

<div th:insert="~{elements :: bottombar}"></div>

</body>
</html>
